.body {
    background-color: #101C1A;
    z-index: -10;
}

.bio-title {
    line-height: 1.5;
    font-size: 16px;
    color: #ffffff;
}

.bio-text {
    line-height: 1.5;
    font-size: 14px;
    color: #9b9b9b;
}

#skills {
    background-color: #3e483d
}

.sectionHead {
	font-size: 60px;
	letter-spacing: -5px;
	line-height: 95px;
	color: #ffffff;
}

.sectionHeadContainer {
  height: 5em;
	opacity: 1;
	text-align: center;
}

/* Footer =================================== */
.logos {
  height: 30px;
  width: 30px;
}
